@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejam Bem-vindos ao sitema de cadastro da Secretria Municipal de saúde de Salvador</h1>
    <p><strong>Faça agora seu Cadastro!</strong></p>
    <br />
    
    <p><strong>Para mais informações, acesse o site da Secretaria Municipal de Saúde</strong></p>
    <a href="http://www.saude.salvador.ba.gov.br/" target="_blank"><strong>Secretaria de Saúde</strong> </a>
    <br />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP9Thlia9QBpVkj8sMwljR7DML9axNhJT8k9bBXHIssw&s">

    

   </div>
  